<!-- nope.eex -->

<html>
  <div class="home">
    <div class="page-title">
      <h2> EEforty </h2>
      <p>
    </div>
    <div class="time">
      <h3> NOPE </h3>
      <p>
      <em>Something went Wrong: <br></em>
      <%= error_message %>
      </p>
      <a href="/home">Go back</a>
    </div>
  </div>
<html>
